body {
  box-sizing: border-box;
  background-color: rgb(228, 228, 228);
}

p {
  font-size: 1.2em;
}

h1 {
  font-weight: bolder;
}

figure {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #021221;
}

/* Header */
.header {
  color: white;
  background-color: #021221;
  width: 100%;
  height: 50px;
  font-size: 22px;
}

.header span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

/* Main */

/* About section */
.tribute-info h2 {
  font-weight: bolder;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-img-container {
  width: 100%;
  text-align: center;
}

.about-img-container img {
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
}

.about figcaption {
  text-align: center;
  font-size: 0.9em;
  width: 90%;
  margin-top: 15px;
}

/* Companies */
.companies-container a {
  text-decoration: none;
}

.companies-ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.companies-ul li {
  margin: 10px;
}

.companies-ul li:hover {
  animation-name: li-anim;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes li-anim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* Mars Project */
.mars-project-img-container {
  width: 100%;
  text-align: center;
}

.mars-project-img-container img {
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
}

/* Read More */
.read-more {
  margin-top: 20px;
  text-align: center;
}

.read-more a {
  text-decoration: none;
  color: rgb(110, 110, 255);
}

/* footer */
.footer {
  color: white;
  background-color: #021221;
  width: 100%;
  height: 50px;
  font-size: 16px;
}

.footer-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  margin: auto;
  color: white;
  text-decoration: none;
}

.footer-twitter-logo-container {
  width: 25px;
}

.footer-twitter-logo-container img {
  width: 100%;
}
